In [10]:
# Q1>
import pandas as pd
data=[4,8,15,16,23,42]
df=pd.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
# Q2>
import pandas as pd
data=[1,2,3,4,5,6,7,8,9]
df1=pd.Series(data)
print(df1)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [14]:
# Q3>
import pandas as pd
data={'name':['Alice','Bob','Claire'],'gender':['female','male','female'],'age':['25','30','27']}
df=pd.DataFrame(data)
print(df)

     name  gender age
0   Alice  female  25
1     Bob    male  30
2  Claire  female  27

In [15]:
# Q4>
# Dataframe is two-dimensional labeled data structure with columns of potentially different
# types.Its similar to spreadsheet or a Sql table.
# Each column in a DataFrame is a Pandas Series,but a DataFrame can have multiple columns,
# whereas a Series can only have one.
import pandas as pd
s=pd.Series([1,2,3,4,5])
df=pd.DataFrame({'name':['Alice','Bob','Claire'],'gender':['female','male','female'],'age':['25','30','27']})
print('Series:')
print(s)
print('DataFrame:')
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
DataFrame:
     name  gender age
0   Alice  female  25
1     Bob    male  30
2  Claire  female  27

In [16]:
# Q6>

# Series and DataFrame are mutable
# Panel immutable in nature

In [18]:
# Q7>
import pandas as pd
names = pd.Series(['BHAVANA', 'SHIVA', 'SHUBHAM', 'PRASAD', 'SUDO'])
ages = pd.Series([21, 32, 18, 47, 29])
genders = pd.Series(['F', 'M', 'M', 'M', 'M'])
data={'name':names,'age':ages,'gender':genders}
df=pd.DataFrame(data)
print(df)

      name  age gender
0  BHAVANA   21      F
1    SHIVA   32      M
2  SHUBHAM   18      M
3   PRASAD   47      M
4     SUDO   29      M

In [ ]:
# Q5>
# 1.head(): this function can be used to display 1st 5 records
# 2.tail(): this function can be used to display last 5 records
# 3.type(): this fuction is use to show type 
# 4.sort_values():This function is used to sort the DataFrame by one or more columns.
# 5.fillna():This function is used to fill missing values in the DataFrame with a specified value or method.